.section__padding {
  padding: 6rem 4rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-gray {
  color: var(--color-dark-gray);
}

.bg-light {
  background-color: var(--color-white);
}

.bg-gray {
  background: var(--color-medium-gray);
}

.btn {
  border: 2px solid var(--color-black);
  outline: none;
  padding: 1rem 2rem;
  background: var(--color-white);
  color: var(--color-black);
  transition: var(--transition);
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background: var(--color-black);
  color: var(--color-white);
}

.btn-cta {
  background: var(--color-primary);
  color: var(--color-white);
  text-transform: uppercase;
}

@media screen and (max-width: 900px) {
  .section__padding {
    padding: 4rem;
  }
}
@media screen and (max-width: 600px) {
  .section__padding {
    padding: 4rem 2rem;
  }
}
@media screen and (max-width: 375px) {
  .section__padding {
    padding: 2rem 1rem;
  }
}
