@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --font-body: "Inter", sans-serif;
  --font-heading: "Playfair Display", sans-serif;

  --color-primary: #ff642f;
  --color-secondary: #ffd7c9;
  --color-light-blue: #e3f1ff;
  --color-black: #000;
  --color-dark-gray: #7f7f7f;
  --color-medium-gray: #e8e8e8;
  --color-white: #f9f9f9;

  --transition: all 0.3s ease;

  --shadow-soft: 0 0 1px rgba(0, 0, 0, 0.2);
  --shadow-modal: 0 0 2px rgba(0, 0, 0, 0.5);

  --width-lg: 900px;
  --width-md: 600px;
  --width-sm: 375px;

  --max-width: 1400px;
}

body {
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-heading);
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

h1 {
  font-size: 42px;
  line-height: 52px;
}
h2 {
  font-size: 36px;
  line-height: 44px;
}
h3 {
  font-size: 32px;
  line-height: 40px;
}
h4 {
  font-size: 28px;
  line-height: 32px;
}
h5 {
  font-size: 24px;
  line-height: 28px;
}

@media screen and (max-width: var(--width-md)) {
  h1 {
    font-size: 36px;
    line-height: 44px;
  }
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
  h3 {
    font-size: 28px;
    line-height: 32px;
  }
  h4 {
    font-size: 24px;
    line-height: 28px;
  }
  h5 {
    font-size: 20px;
    line-height: 24px;
  }
}
